.noquiere {
  background-image: url('../hasta.webp');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  margin-top: -10px;
  background-position: center;
  height: 100vh;
  
}
h1{
    text-align: center;
}